/src/test
/src/main/webapp/WEB-INF/web.xml-bak
/README0.1.md
/target
/be-restful.iml
/.idea
# Original Reference from http://qiita.com/tora70/items/d61c3fcb261e48edc996
# Cyrus Gabilla <cgabilla@gmail.com>

# Java
# Eclipse
/src/dummy-random-test
# Idea
# OS
# Gradle
# Maven
# Build
# Other
